{# templates/home.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<header>
  {% block navContainer %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container bg-primary px-5">
        <a class="navbar-brand" href="">Snow-Tricks</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <hr class="navbar-nav mr-auto">
          <a class="nav-link navbar-text text-white" href="{{ path('inscription', { 'slug': 'signUpForm'}) }}">Inscription</a>
          <hr class="navbar-nav mr-5">
          <a class="nav-link navbar-text text-white" href="#">Connexion
          </a>
        </div>
      </div>
    </nav>
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="w-100" src="{{ asset('pictures/snow-trickers-img.jpeg') }}" alt="Description de l'image">
        </div>
      </div>
    </div>
  {% endblock %}
</header>
{# {% block section %} #}
<body>

  <div class="container"
    <div class="jumbotron">
      <h1 class="display-4">Liste de figures</h1>
      <p class="lead">
        <div class="card-deck">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
      </p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">voir plus</a>
    </div>
  </div>
</body>
  {# {% endblock %} #}
{% endblock %}